* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    scroll-behavior: smooth;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}


/* Top navigation bar */

/* Top navigation bar */
header {
    width: 100%;
    display: flex !important;
    align-items: center;
    justify-content: space-evenly;
  
    transition: all 0.5s;
    /* border-bottom: 2px solid #d1d1d1; */
    background: #ffffff;
    height: 124px;
    z-index: 99;
  }
  
  .header-nav {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 145px;
  }
  
  /* Logo Image */
  header img {
    width: 130px;
    height: 100px;
  }
  
  .header-nav {
    display: flex;
    background: transparent;
  }
  
  .header-nav .brand {
    padding-top: 0px;
    display: flex;
  }
  
  /* Navigation menu */
  .header-nav .nav-menu {
    list-style: none;
    display: flex !important;
    flex-direction: row;
    gap: 50px;
  }
  
  .header-nav li a {
    text-decoration: none;
    color: #838383;
    font-weight: 500;
    font-size: 16px;
    border-bottom: 3px solid transparent;
    transition: 0.5s ease-in-out;
    padding: 10px;
  }
  
  .header-nav li a:is(:link, :active, :visited).active {
    background: -webkit-linear-gradient(#0038ff, #00d1ff);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    border-bottom: 3px solid #003bec;
  }
  
  .header-nav li a:hover {
    background: -webkit-linear-gradient(#0038ff, #00d1ff);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  /* Button Login */
  .header-nav .btn-login {
    display: flex;
    border-radius: 100px;
    height: 60px;
    width: 100px;
    border: 3px solid #003bec !important;
    align-items: center;
    justify-content: center;
    margin: 20px 20px;
  }
  
  .btn-login a {
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    color: #003bec;
  }
  
  .ham {
    display: none;
  }


/*----------------Carousel----------------------- */

.section2Caro{
    width: 100%;
    height: 718px;
}

.section2Caro img{
    width: 100%;
    height: 718px;
}



.carousel-indicators li {
    width: 11px !important;
    height: 11px !important;
    border-radius: 50px;
    transition: 0.5s ease-in-out;
    
}


.carousel-indicators .active{
    background-color: #003bec !important;
    width: 30px !important;
}

.carousel-item{
  height: 707px;
}



.carousel-indicators{
    bottom: 2px !important;
}

.transdescBox{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    /* left: 1100px; */
    float: right;
    top: -200px;
    right: 100px;
}

.box-trans{
    width: 328px;
    height: 168px;
    background:rgba(255,255,255, 0.4);
  
   
    
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    
  
  }

  .box-trans .content-trans{
    display: flex;
    flex-direction: column;
    padding: 40px 30px;
    justify-content: center;
    
  }

  .box-trans h3{
    font-size: 13.55px;
    font-weight: bold;
    color: #fff;
    

  }

  .box-trans h4{
    font-size: 16.26px;
    font-weight: bold;
    color: #fff;
  }

  .box-trans p{
    font-size: 10px;
    color: #fff;
  }

  .transdescBox i .bi-arrow-left-short{ 
    background: #fff;
    border-radius: 50px;
    width: 20px;
    height: 20px;
    
    position: relative;
    left: 10px;

    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .transdescBox i .bi-arrow-right-short { 
    background: #fff;
    border-radius: 50px;
    width: 20px;
    height: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
    right: 10px;
  }



/*--------------------DESCRIPTION-----------*/

.sectionDesc{
    width: 100%;
    height: auto;
    display:flex;
    flex-direction: column;

    padding: 50px 10px;

}

.sectionDesc .headerTitle{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 200px;
}

.headerTitle h1{
    font-size: 60px;
}

.headerTitle input{
    background: #F0EFEF;
    border-radius: 10px;
    width: 364px;
    height: 42px;
    border: none;
    padding: 20px 10px;

}



.sectionDesc .infoContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 40px;
}



.sidebox{
    width: 446px;
    height: auto;
    border: 1px solid #d9d9d9;
}

.sidebox .headerMain{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 200px;
    border-bottom: 1px solid #d9d9d9;
    padding: 10px 10px;
    
}

.headerMain h3{
    font-weight: bold;
    font-size: 20px;
}

.modelPrice{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 40px;
    padding: 10px 10px;
}

.modelDesc h3{
    font-size: 15px;
}

.modelPrice p{
    font-size: 20px;
}

.specCont{
    display: flex;
    flex-direction: row;
    justify-content: start;

    gap: 40px;
    padding: 10px 10px;
}

.specs {
    display: flex;
    flex-direction: column;
}

.specs h5{
    font-size: 15px;
}

.specs p{
    font-size: 15px;
}

.specCont h3{
    font-size: 15px;
}

.colorCont{
    display: flex;
    flex-direction: row;
    justify-content: start;

    gap: 100px;
    padding: 10px 10px;
}

.colors{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.colors .lightwhite{
    width: 30px;
    height: 30px;
    background: #F0F0EE;
    border-radius: 50px;
}

.colors .red{
    width: 30px;
    height: 30px;
    background: #AE2D2B;
    border-radius: 50px;
}

.colors .black{
    width: 30px;
    height: 30px;
    background: #34373A;
    border-radius: 50px;
}
.colors .gray{
    width: 30px;
    height: 30px;
    background: #8E969B;
    border-radius: 50px;
}

.colors .white{
    width: 30px;
    height: 30px;
    background: #DEDFDE;
    border-radius: 50px;
}

.btn-specs{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 10px;
}

.btn-specs button{
    background: linear-gradient(135deg, #003bec 0%, #00AEEF 100%);
    border: none;
    border-radius: 25px;
    color: #fff;
    width: 187px;
    height: 52px;
    font-size: 16px;
    transition: 0.5s ease-in;
}

.btn-specs button:hover{
  background: linear-gradient(135deg, #00AEEF 0%, #003bec 100%);
}

.infosbox{
  display: flex;
  flex-direction: column;
  height: auto;

}

.infosbox .infos{
  display: flex;
  flex-direction: column;
}

.infos p{
  width: 633px;
  font-size: 20px;
}

.btn-primary{
  background-color: transparent !important;
  color: #003bec !important;
  border: none !important;
  font-weight: bold !important;
  font-size: 15px !important;
}
.bi-caret-down-fill{
  padding-top: 5px ;
}
.ratingsCont{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ratingsCont h1{
  font-size: 30px;
}
.ratingsCont .long{
  font-size: 20px !important; 
}

.boxrating{
  width: 633px;
  height: 431px;
  border: 1px solid #d9d9d9;
  padding: 40px 30px;
}

.boxrating .box-header{
  display: flex;
  flex-direction: row;
  gap: 250px;
}

.box-header h3{
  font-size: 20px;
  font-weight: 400 !important;
}

.box-header p{
  font-size: 15px;
  margin-top: 10px;
}

.contbox{
  display: flex;
  flex-direction: row;
  gap: 230px;
}
.contrate{
  display: flex;
  flex-direction: column;
 
}
.content label{
   font-size: 15px;
   width: 300px;
}

.content p{
  font-size: 10px;
}

.content .rate{
  font-size: 15px;
}

.w-93{
  width: 522px !important;
}

.w-91{
  width: 522px !important;
}

.progress-bar{
background-color: #003bec !important;
}

.progress{
  height: 8px !important;
}

.starRate{
  position: relative;
  float: right;
  right: -227px;
  top: 120px;
}

/*-------------------------------RATING--------------------------------*/

.sec2{
  width: 100%;
  height: auto;
  background: white;


  
}

.sec2 .main-sec2{
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
  width: 100%;

  padding: 20px !important;

}

.main-sec2 .header-sec2{
  margin-top: 10px;
  margin-bottom: 30px;
}

.main-sec2 .header-sec2 p{
  font-weight: bold;
  font-size: 28px;
  
}

.main-sec2 .unit-container{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  width: 80%;
}

.main-sec2 .unit-container .model-cont{
  display: flex;   
  gap: 150px;
}

.main-sec2 .unit-header h2{
  color:#003BEC;
  font-weight: bold;
  font-size: 24px;
}

.unit-container .model1{
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.unit-container .variant1{
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.unit-container .variant2{
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.unit-container .variant1 .form-select{
  width: 200px;
}

.unit-container .variant2 .form-select{
  width: 200px;
}

.unit-container .model2{
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.model2 .model2-variant1 .form-select{
  width: 500px;
}

.model2 li{
  font-size: 12px;
  font-weight: lighter;
}
/* ----------------------------------------------Principal Information----------------------------------------- */
.main-sec2  .personalInfo {
  display: flex;
  gap: 30px;
  
}
.personalInfo .form-control{
  border-radius: 0px !important;
  width: 332px !important;
}
.personalInfo .location{
width: 507px !important;

}
.personalInfo .zip{
width: 160px !important;
}

.form-group{
  font-weight: bold;
}
.main-sec2 .income{
  display: flex;
}
.personalInfo .business{
width: 507px !important;
}
.main-sec2 .BusinessInfo {
display: flex;
}

.BusinessInfo .bus1{
  display: flex;
  flex-direction: row;
}

.BusinessInfo .bus2{
  display: flex;
  flex-direction: row;
}
.BusinessInfo .form-control{
width: 239px !important;
}
.personalInfo .comaker{
  width: 418px !important;
}
.personalInfo .relation{
width: 249px !important;
}

.ending{
  padding-top: 50px;
  width: 1080px;
}
.main-sec2 .submit{
  display: flex;
  justify-content: start;
  align-items: start;
  gap: 10px;
  width: 1100px;
}
.submit .btn1{
  
  text-align: center;
  color: white;
  background-color: #003BEC;
  padding: 10px;
  width: 150px;
  border-radius: 50px;
  font-size: 16px;
  background: linear-gradient(111.69deg, #0038FF, #00D1FF); 
  border: 0px;
  
}

.submit .btn2{
  
  text-align: center;
  color: #003BEC;
  background-color: transparent;
  padding: 10px;
  width: 150px;
  border-radius: 50px;
  font-size: 16px;
  border: 1px solid #003BEC;
  
}

.main-sec2 .come{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  position: relative;
  left: -375px;
}

.personalInfo1{
  display: flex;
  gap: 60px;
  position: relative;
  left: 0px;
}

.personalInfo1 .form-control{
  width: 496px;
}





/* --------------------------------Footer------------------------------------------ */

footer {
    width: 100%;
    height: auto;
  }
  
  footer .footer-container {
    width: 100%;
    height: 100%;
    background: url("../img/pexels-torsten-dettlaff-70912\ \(1\)\ 1\ \(1\).png");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #003bec;
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    color: white;
  
    gap: 50px;
  }
  
  .footer-container .header-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    margin-top: 200px;
  }
  
  .header-container h2 {
    font-family: "Montserrat";
    font-weight: bold;
    font-size: 40px;
  }
  
  .header-container p {
    width: 590px;
    text-align: center;
    font-weight: lighter;
  }
  
  .navigation-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    gap: 150px;
  
    margin-bottom: 150px;
  }
  
  .navigation-container img {
    width: 86px;
    height: 66px;
    margin-top: -20px;
  }
  
  .logo-contain {
    display: flex;
    flex-direction: column;
  }
  
  .sub-btn {
    margin-top: 50px;
  }
  
  .subcribe-btn {
    width: 200px;
    height: 200px;
    background: #fff;
    color: #000;
    border-radius: 50px;
  
    padding: 20px;
  }
  
  .logo-main {
    display: flex;
  }
  
  .logo-contain {
    margin-top: -75px;
  }
  .logo-main h3 {
    font-size: 20px;
    font-family: "Poppins";
    font-weight: bold;
  }
  
  .logo-contain p {
    width: 253px;
    font-size: 16px;
    text-align: left;
    font-weight: lighter;
    color: #ffffff;
  }
  
  .buy-contain {
    display: flex;
    flex-direction: column;
  }
  .list-mode {
    display: flex;
    flex-direction: row;
  
    gap: 100px;
    margin-top: 40px;
  }
  
  .list-mode h3 {
    margin-bottom: 30px;
    font-size: 14px;
    font-weight: bold;
  }
  
  .list-mode ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-left: 0 !important;
  }
  
  .list-mode li a {
    color: #ffffff;
    text-decoration: none !important;
  }
  
  .list-mode li a:hover {
    text-decoration: underline !important;
  }
  
  .list-mode p {
    width: 275px;
  }
  
  .socials ul {
    display: flex !important;
    flex-direction: row;
    text-decoration: none;
  }
  
  .socials li {
    font-size: 20px;
    border-radius: 50px;
    border: 1px solid #fff;
    width: 40px;
    height: 40px;
    text-align: center;
    padding: 5px;
  }
  
  .terms-container {
    display: flex !important;
  
    justify-content: center;
    align-items: center;
    margin-top: -200px;
  }
  
  .terms-container ul {
    list-style: none;
    display: flex;
    gap: 50px;
  }
  
  .terms-container li a {
    color: white;
    text-decoration: none;
  }
  
  .terms-container li a:hover {
    text-decoration: underline !important;
  }