@media (max-width: 1180px){
    .main-sec2 .unit-container .model-cont{
        gap: 100px;
    }

    .model2  .model2-variant1 .form-select{
        width: 250px;
    }

    .personalInfo .form-control{
        width: 230px !important;
    }

    .main-sec2 .BusinessInfo{
        display: flex;
        justify-content: start;
        align-items: start;
        gap:100px;
    }

    .BusinessInfo .bus1{
        display: flex;
        flex-direction: column;
    }
    
    .BusinessInfo .bus2{
        display: flex;
        flex-direction: column;
    }

    .BusinessInfo .form-group{
        padding-left: 0 !important;
    }

    .BusinessInfo .form-control{
        width: 330px !important;
    }

    .ending{
        width: 700px;
    }

    .main-sec2 .come{
        
        position: relative;
        left: -220px;
    }

    .personalInfo1{
        display: flex;
        gap: 60px;
        
    }
    
    .personalInfo1 .form-control{
        width: 350px;
    }
}

@media (max-width: 800px){
    .main-sec2 .unit-container .model-cont{
        gap: 50px;
    }

    .main-sec2 .personalInfo{
        gap: 10px;
    }

    .main-sec2 .come{
        
        position: relative;
        left: -198px;
    }

    .main-sec2 .BusinessInfo{
        gap:50px;
    }

    .personalInfo1{
        display: flex;
        gap: 60px;
        width: 710px;
    }
    
    .personalInfo1 .form-control{
        width: 325px;
    }
}

@media (max-width: 740px){
    .main-sec2 .unit-container .model-cont{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .unit-container .model1{
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    .unit-container .model1 .form-select{
        width: 500px;
    }
    .main-sec2 .personalInfo {
        display: flex;
        flex-direction: column;
    }
    .personalInfo .form-control{
        width: 500px !important;
    }

    .main-sec2 .come{
        
        position: relative;
        left: -98px;
    }

    .main-sec2 .BusinessInfo{
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        gap:10px;
    }

    .BusinessInfo .bus1 .form-control{
        width: 500px !important;
    }
    .BusinessInfo .bus2 .form-control{
        width: 500px !important;
    }

    .ending{
        width: 500px;
    }

    .personalInfo1{
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 510px;
    }
    
    .personalInfo1 .form-control{
        width: 510px !important;
    }

   
}

@media (max-width: 540px){

    .main-sec2 .header-sec2{
        text-align: center;
    }
    .main-sec2 .unit-header{
        width: 350px;
        display: flex;
        justify-content: start;
        align-items: start;
        text-align: left;
    }
    .unit-container .model1 .form-select{
        width: 350px;
    }

    .personalInfo .form-control{
        width: 350px !important;
    }

    .BusinessInfo .bus1 .form-control{
        width: 350px !important;
    }

    .main-sec2 .come{
        
        position: relative;
        left: -20px;
    }

    .ending{
        width: 350px;
    }


    .personalInfo1{
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 358px;
    }
    
    .personalInfo1 .form-control{
        width: 350px !important;
    }

    .main-sec2 .BusinessInfo{
        width: 350px;
    }
    .BusinessInfo .bus2 .form-control{
        width: 350px !important;
    }

    .animation-cont .carA{
        width: 250px;
        height: 100px;
        animation-name: animateCar;
        animation-duration: 0.9s;
        position: relative;
        right: 180px;
        top: 42px;
    }

    .animation-cont .tree{
        width: 540px;
        height: 265px;
        position: relative;
        left: 85px;
    }

    .submit-cont p{
        font-size: 18px;
    }

    @keyframes animateCar {
        0%{position:relative;
            right:-5000px;
            top: 42px;}
        50%{position:relative;
                right:250px;
                top: 42px;
                 transform: rotate(-15deg);}
        100%{position:relative;
                right:180px;
                top: 42px;}
    
    }

}